/* Header CSS */

.header {
    position: relative;
    top: calc(-50px - 2.7vh);
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    min-height: 70vh;
}

.top-container {
    overflow: hidden;
    position: relative;
    z-index: 1;
    min-height: 70vh;
}

img {
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

/* ____________________________________________________________ */
/* Elements on the right side of the screen/header */

/* Replay and age restriction button/icon */
.right-buttons {
    position: absolute;
    right: 0;
    bottom: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
    color: white;
    cursor: pointer;
}

#rating-wrapper {
    border-left: 3px solid #dcdcdc;
    background-color: rgba(51, 51, 51, .6);
    z-index: 99000;
    padding-right: 4vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

}

#rating {
    border-radius: 50%;
    border: 1px solid white;
    background-color: #fa4f93;
    padding: 3px;
    margin-left: 5px;
}

.circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/* ____________________________________________________________ */
/* Elements on the left side of the screen/header */

/* Positioning of the container that holds the elements for the left side of header*/
.banner {
    width: 36%;
    position: absolute;
    top: 0;
    left: 4%;
    bottom: 30%;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
}


/* Individual elements inside banner */
#title {
    font-size: 3.3rem;
    font-weight: 800;
    margin-bottom: 4vh;
}

#description {
    font-size: 1rem;
    font-weight: 750;
}

.button-container {
    margin-top: 2vh;
    display: flex;
    gap: 1vw;
    z-index: 1;
}

button {
    padding: 0.7rem 2rem;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}


#button-play {
    background-color: white;
    color: black;
}

#button-more-info {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}



/* ____________________________________________________________ */
/* Handling different viewport sizes*/

/* Middle-sized screen */
@media (650px <=width <=1025px) {

    #title {
        font-size: 2.1rem;
        font-weight: 800;
        margin-bottom: 3vh;
    }

    #description {
        font-size: 0.85rem;
        font-weight: 750;
    }

    .banner {
        width: 45%;
        bottom: 40%;
    }

    button {
        padding: 0.7rem 2rem;
        border-radius: 4px;
        border: none;
        font-weight: 700;
        cursor: pointer;
        font-size: 0.8rem;
    }

}


/* Small screen */
@media (499px <=width <=650px) {

    #title {
        font-size: 1.9rem;
        font-weight: 750;
        margin-bottom: 2vh;
    }

    #description {
        font-size: 0.7rem;
        font-weight: 750;
    }

    .banner {
        width: 50%;
        bottom: 45%;
    }

    button {
        padding: 0.5rem 1.9rem;
        border-radius: 4px;
        border: none;
        font-weight: 700;
        cursor: pointer;
        font-size: 0.8rem;
    }

}